.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .hero {
  height: 100vh;
  background: linear-gradient(135deg, #5c00d2, #7c4dff);
  color: white;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  /* padding: 1 rem 2 rem; */
  /* z-index: 1000; */

 /* }
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: #e0e0e0;
}

.nav-links li:hover {
  color: #ffcc00;
  cursor: pointer;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 0 2rem;
}

.text {
  max-width: 50%;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text h1 span {
  color: #ffc107;
}

.text p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn-yellow {
  background: #ffc107;
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid #ccc;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}  */ 